
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
:root {
    --navyblue:#00004d;
    --blue: #0000ff;
    --saphireblue:#0f52ba;
    --vividblue:#0197f6;
    --white:#fff;
    --yellow: #f9ca24;
}



.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


.logo{
    display: flex;
    flex-flow: row;
    border-bottom: #fff solid 4px;
    color: blue;
    background-color:var(--vividblue);
}

.logo img{
    padding: 20px;
    height: 7%;
    width: 7%;
}


.logo h3{
    margin: auto;
    text-align: center;
    padding: 1rem;
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;
    transition: 0.5s;
    
}

.logo h3:hover{
    -webkit-text-stroke: 2px var(--navyblue);
    color: transparent;
}

.logo span{
    font-weight: 600;
    transition: 0.5s;
    color: var(--yellow);
}

.logo span:hover{
    -webkit-text-stroke: 2px var(--navyblue);
    background: none;
    color: transparent;
}

.formt{
    display: flex;
    flex-flow: row;
}

.toucont{
    border: 1px solid white;
}



.form-control{
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;   
    margin-right: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 5rem;
    font-size: 1.5rem;
    width: 50%;
    border: #0000ff solid 1px;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    color: var(--blue);
    /* border-top:  5rem;
    border-left: 5rem;
    border-right: 5rem;
    color: var(--white); */
    background-color: var(--white);

}

.form-control:hover{
    background-color:var(--yellow);
    color: var(--blue);
}


#form-Rechercher{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-left: 1rem;
    margin: auto;
    margin-left: 0px;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    font-size: 2rem;
    width: 10%;
    border: var(--white) solid 1px;
    background-color: var(--blue);
    color: var(--white);
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

#form-Rechercher:hover{
    background-color:var(--yellow);
    color: var(--blue);
}



.box-container .box{
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border: #0000ff solid 1px;
}
.box{
    width: 60%;
    height: 60%;
    text-align: center;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
}

#city {
    background-color:rgba(41, 127, 185, 0.548);
    color: var(--white);
}

#city:hover {
    background-color:var(--yellow);
    color: var(--blue);
}


#temp {
    background-color: rgba(43,78,181,0.548);
    color: var(--white);
}

#temp:hover {
    background-color:var(--yellow);
    color: var(--blue);
}

#humidity {
    background-color: rgba(52,152,219, 0.548);
    color: var(--white);
}

#humidity:hover {
    background-color:var(--yellow);
    color: var(--blue);
}

#wind {
    background-color: rgba(143, 146,154,0.548);
    color: var(--white);
}

#wind:hover {
    background-color:var(--yellow);
    color: var(--blue);
}


/* .footer{
    margin-bottom: 0;
}


.footer p{
    margin: auto;
    text-align: center;
    background-color: #0198f6;
    color: var(--white);
    font-size: 1.5rem;
    z-index: 1;
}

.footer span{
    margin: auto;
    text-align: center;
    color: var(--yellow);
    font-size: 1.5rem;
    z-index: 1;
} */















/* media queries */

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: auto;
    }
}




@media(max-width:1200px){

    html {
        font-size: 55%;
        
    }
    .logo img{
        padding: 20px;
        height: 17%;
        width: 17%;
    }
}

@media(max-width:991px){

    .logo img{
        padding: 20px;
        height: 17%;
        width: 17%;
    }
}

@media(max-width:768px){

    .logo img{
        padding: 20px;
        height: 17%;
        width: 17%;
    }
}


@media(max-width:400px){

    .logo img{
        padding: 20px;
        height: 17%;
        width: 17%;
    }

}